*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
#taskInput{
    height:50px;
    width:200px;
}
img{
    size:100vh;   
    z-index: -1000;
    position: absolute;
}
div{
    margin:20px;
    display:flex;
    justify-content: center;
}
header{
    padding-top: 10px;
    color:rgba(12, 171, 144, 0.857);
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-decoration:underline;

}
.container {
    display:flex;
    justify-content: center;
}
#taskbox{
    width:150vh;
    height:70vh;
    background-color: azure;
    justify-self: center;
    border:5px black solid;
    border-radius: 30%;

}

.btns{
    width:50px;
    margin:3px;
}
.tasks{
    font-size: 30px;
}